@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    background: rgb(240 240 240);
}

/*ВЕРХНЯЯ НАВИГАЦИОННАЯ ПАНЕЛЬ*/
.header-controls {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: stretch;
    padding: 1%;
    background: #fd9334;
    border-radius: 5px;
}

.header-left-controls {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    color: black;
}

.header-right-controls {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    color: black;
}

.header-menu {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    margin-right: 10px;
    width: 10%;
}

.header-address {
    width: 20%;
}

.header-search {
    width: 70%;
}

.header-search i.fa {
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    margin-right: -26px;
    position: relative;
    z-index: 1;
    float: left;
    padding: 5px 0 5px 0;
}

.header-search input {
    outline: none;
    width: 90%;
    padding: 10px 0 10px 30px;
    background: rgb(240 240 240);

    font-family: inherit;
    border-radius: 0.5rem;
    border: 1px solid #bdbdbd;
}

.header-user {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    cursor: pointer;
    color: #44413b;
}

.header-user i {
    margin: 0 10px 0 10px;
}

.header-basket {
    text-decoration: none;
    cursor: pointer;
    color: #44413b;
    width: 80px;
    text-align: center;
    position: relative;
}
.header-count-on-basket{
    position: absolute;
    right: 20px;
    bottom: -10px;
    background: rgb(228, 0, 43);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
}
/*ДЛЯ ТЕЛЕФОНОВ 375PX
ВЕРХНЯЯ ПАНЕЛЬ ПРАКТИЧЕСКИ ПОЛНОСТЬЮ УБИРАЕТСЯ
ОСТАЕТСЯ СТРОКА ПОИСКА
*/
@media (max-width: 400px) {
    .header-controls {
        width: 100%;
    }

    .header-left-controls {
        width: 100%;
    }

    .header-right-controls {
        display: none;
    }

    .header-menu {
        display: none;
    }

    .header-address {
        display: none;
    }

    .header-search {
        width: 100%;
    }

    .header-search input {
        margin-right: 10px;
    }
}

/*КНОПКА БАЗОВАЯ*/
.btn {
    outline: none;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-size: 14px;

    margin: 0 20px 0 20px;
    padding: 8px;

    border: solid 1px transparent;
    border-radius: 4px;
    color: #44413b;
    background-color: #ebc686;
}

.btn:hover,
.btn:focus {
    color: #ebc686;
    border-color: currentColor;
    background-color: #44413b;
}

/*Кнопка тип 2*/
.btn2 {
    outline: none;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-size: 14px;

    margin: 0 20px 0 20px;
    padding: 8px;

    border: solid 1px transparent;
    border-radius: 4px;
    color: #ebc686;
    background-color: #44413b;
}

.btn2:hover,
.btn2:focus {
    color: #44413b;
    border-color: currentColor;
    background-color: #ebc686;
}

/*АВТОРИЗАЦИЯ*/
.login-block-background,
.profile-edit-background {
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    background: rgba(150, 147, 147, 0.52);
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 100;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}

.login-block {
    box-shadow: 10px 10px 30px rgb(217, 204, 193);
    border-radius: 10px;
    background: rgb(217, 204, 193);
    width: 400px;
    height: 330px;
    margin: 0 20px 0 20px;
    font-size: 18px;
    padding: 20px 5px 20px 5px;
}

.login-title {
    font-size: 25px;
    margin: 30px 0 30px 0;
}

.login-inputs input {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    background-color: rgb(217, 204, 193);
    margin: 10px 0 20px 0;
    font-size: 18px;
}

@-webkit-keyframes autofill {
    0%, 100% {
        color: #666;
        background: transparent;
    }
}

.login-inputs input:active,
.login-inputs input:focus,
.login-inputs input:-webkit-autofill {
    outline: none;
    border: none;
    font-size: 18px;
    border-bottom: 1px solid black;
    background-color: rgb(217, 204, 193) !important;
    -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
    -webkit-box-shadow: inset 0 0 0 50px rgb(217, 204, 193) !important;
}

.login-registration-link {
    margin: 20px 0 0 0;
    font-size: 15px;
}

.login-registration-link a {
    color: #fd9334;
}

/*МЕНЮШКА*/
.side-panel {
    left: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    background: rgba(152, 151, 151, 0.2);
    width: 100%;
    height: 100vh;
    transition: all 0.5s;
}

.side-panel.hide {
    left: -100%;
}

.menu-panel {
    background: #fd9334;
    width: 320px;
    height: 100vh;
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.4);
    color: #FFF;
    padding: 40px 20px;
}

.menu-close-but {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
    width: 20%;
    text-align: right;
    padding-right: 20px;
    color: #44413b;
}

.menu-profile-and-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-items-block {
    padding: 30px 20px 0 20px;
}

.menu-item {
    padding: 10px 0 10px 0;
}

.menu-item a {
    outline: none;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.menu-item a:hover {
    color: #44413b;
}
/*НИЖНЯЯ ПАНЕЛЬ МЕНЮ для мобилок*/
@media (max-width: 400px) {
    .side-panel.hide {
        left: 0;
    }
    .side-panel{
        all: unset;
        height: 60px;
        z-index: 9999;
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 0;
        background: #fd9334;
    }
    .menu-close-but{
        display: none;
    }
    .menu-profile-and-button{
        display: none;
    }
    .menu-panel{
        all: unset;
        z-index: 9999;
    }
    .menu-items-block{
        all: unset;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        align-content: space-around;
    }
    .menu-item{
        all: unset;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .menu-item a{
        all: unset;
        font-size: 10px;
    }
    .img-menu::before{
        font-family: 'FontAwesome';
        content: '\f0f5';
        font-size: 30px;
    }
    .img-profile::before{
        font-family: 'FontAwesome';
        content: '\f007';
        font-size: 30px;
    }
    .img-map::before{
        font-family: 'FontAwesome';
        content: '\f041';
        font-size: 30px;
    }
    .img-orders::before{
        font-family: 'FontAwesome';
        content: '\f00c';
        font-size: 30px;
    }
    .img-basket::before{
        font-family: 'FontAwesome';
        content: '\f291';
        font-size: 30px;
    }
    .admin-item{
        display: none;
    }

}

/*профиль*/
.profile-block {
    margin: 50px;
    text-align: center;
}

.profile-avatar {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.profile-avatar img {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: #44413b solid 3px;
}

.profile-name {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.profile-logout-but {
    text-align: center;
}

.profile-information\'s {
    text-align: center;
    margin: 20px 0 50px 0;
}

.profile-info {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.profile-info .info-name {
    width: 200px;
    text-align: right;
}

.profile-info .info {
    width: 200px;
    text-align: right;
}

.profile-buttons {
    margin-bottom: 30px;
}

/*редактирование профиля*/
.profile-edit-background.hide {
    display: none;
}

.profile-edit-block {
    width: 400px;
    height: 400px;
    background: #ebc686;
    box-shadow: 10px 10px 30px rgb(217, 204, 193);
    border-radius: 10px;
}

.profile-edit-block-title {
    font-size: 22px;
    margin: 20px;
}

/*СТРАНИЦА БЛЮД*/
/*КАТЕГОРИИ*/
.dish-categories{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 50px;
    margin: 10px 0 10px 0;
}

@media (max-width: 400px) {
    .dish-categories {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}


.category{
    display: inline-flex;
    align-items: center;
    margin: 0 30px 0 30px;
    padding: 0 14px;
    font-size: 18px;
    cursor: pointer;
    height: 40px;
}

.selected{
    background: rgba(253, 147, 52, 0.29);
    border-radius: 24px;
}
.category:hover{
    background: rgba(253, 147, 52, 0.29);
    border-radius: 24px;
}
/*БЛЮДА*/
.dishes-page{
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    margin: 30px 2% 10px 2%;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    font-size: 15px;
}

.dish-block{
    width: 90%;
    height: 240px;
    word-wrap: break-word;
    text-align: center;
    border-radius: 10px;
    padding-top: 3%;
}
.dish-img{
    height: 60%;
}
.dish-name{
    margin-top: 10px;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.dish-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.btn-add-dish-to-basket{
    background: #fd9334;
    /*display: none;*/
    cursor: pointer;
    border: none;
    width: 100px;
    height: 30px;
    /*border: solid #44413b 3px;*/
    border-radius: 10px;
    outline: none;
    font-size: 15px;
    /*color: #44413b;*/
    color: #f5ebdc;
    font-weight: bold;
}

.dish-block:hover{
    background: white;
}
.dish-block:hover .btn-add-dish-to-basket{
    display: block;
    color: white;
}
@media (max-width: 900px) {
    body {max-width:900px}
    .dishes-page{
        column-gap: 10px;
        row-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        font-size: 10px;
    }
    .dish-block{
        height: 190px;
        background: white;
    }
    .btn-add-dish-to-basket{
        display: block;
        font-size: 12px;
    }
}

@media (max-width: 376px) {
    body {max-width:376px}
    .dishes-page{
        column-gap: 10px;
        row-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        font-size: 10px;
        padding-bottom: 60px;
    }
    .dish-block{
        height: 200px;
        background: white;
    }
    .btn-add-dish-to-basket{
        display: block;
        font-size: 12px;
        margin-top: 10px;
    }
    .dish-img{
        width: 80%;
    }
    .category{
        display: inline-flex;
        align-items: center;
        margin: 0;
        padding: 0 14px;
        font-size: 12px;
        cursor: pointer;
        height: 20px;
    }
    .dish-name{
        margin-top: 10px;
        height: 18px;
    }
}

/*КАРТА*/
.map{
    position:relative;
    overflow:hidden;
    margin: 20px 40px 0 40px;
}

/*КОРЗИНА*/
.basket-page{
    margin: 2%;
    padding-bottom: 50px;
}
.basket-dish-item{
    align-items: center;
    border-bottom: 1px solid #44413b;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.6rem 0;
}
.basket-item-img-name{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-start;
}

.basket-item-img{
    flex: 0 0 auto;
    flex-direction: row;
    height: 75px;
    justify-content: center;
    width: 75px;
    align-items: center;
    display: flex;
}
.basket-item-name{
    padding-right: 4rem;
    display: flex;
    flex-direction: column;
    margin-left: 3.2rem!important;
}

.basket-item-price{
    color: rgb(228, 0, 43);
    margin-right: 14rem;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 4rem;
}
.basket-item-count{
    width: 11rem;
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    justify-content: flex-end;
    z-index: 10;
}

.basket-item-count-block{
    height: 3rem;/*4.8*/
    background-color: #000;
    justify-content: space-between;
    align-items: center;
    border-radius: 10rem;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    padding: 1rem 0;
    position: relative;
    width: 100%;
    z-index: 10;
}

.basket-item-count-minus{
    box-shadow: 0 4px 6px 0 rgb(0 0 0 / 8%);
    height: 3rem;
    width: 3rem;
    align-items: center;
    border-radius: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.2rem;
    position: relative;
    transition-duration: .3s;
    transition-property: box-shadow,border-width;
    transition-timing-function: ease;
    z-index: 3;
    -webkit-appearance: button;
    overflow: visible;
    text-transform: none;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    background: none;
    border: unset;
    cursor: pointer;
}
.basket-item-count-number{
    align-items: center;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    font-stretch: condensed;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}
.plus{
    color: white;
}
.minus{
    color: rgba(250, 0, 20, 0.78);
}
.basket-item-total-title{
    font-size: 1.6rem;
}
.total{
    font-size: 3rem;
}
/*Корзина для мобильных устройств*/
@media (max-width: 400px) {
    .basket-dish-item{
        flex-direction: column;
    }
    .basket-item-count{
        width: 6rem;
    }
    .basket-item-count-block {
        height: 2rem; /*4.8*/
    }
    .basket-item-count-minus {
        height: 2rem;
        width: 2rem;
    }
    .basket-item-count-number{
        font-size: 1.5rem;
    }
    .basket-item-price{
        margin: 0;
        align-self: flex-start;
    }
}

/*Заказ пользователя*/
.user-order{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
}
.user-order-block{
    text-align: center;
    margin: 20px 0 0 0;
    padding: 0 20px 30px 20px;
    background: white;
    width: 40%;
    border-radius: 20px;

}
.user-order-number{
    font-size: 2rem;
    margin: 20px 0 20px 0;
}
.user-order-statuses{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0 30px 0;
}
.user-order-status{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-size: 1rem;
}
.user-order-status i{
    font-size: 2rem;
}
.inactive-status{
    color: #bdbdbd;
}
.user-order-list-title{
    text-align: left;
    font-size: 1.3rem;
    border-bottom: 1px solid rgba(68, 65, 59, 0.78);
}
.user-order-list-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

/*редактирование блюд*/
.dishes-list-edit{
    display: grid;
    grid-template-columns: 1fr 5fr 2fr 1fr 0.5fr;
    grid-row-gap: 5px;
    align-items: center;
    justify-items: center;
    padding: 30px 15px 10px 30px;
    width: 95%;

}
.dishes-list-edit > *{
    width: 100%;
    height: 70%;
    background-color: #d9ccc1;
    border-radius: 5px;
    padding: 7px;
    margin: 1px;
}
/*Редактирование конкретного блюда*/
.dish-edit{
    display: flex;
    flex-direction: column;
    margin: 1%;
}
/*________________тест инпутов*/
.input-container {
    height: 50px;
    position: relative;
    width: 100%;
    margin-top: 30px;
}

.input {
    background-color: #d9ccc1;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #44413b;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}
.cut {
    background-color: rgb(240 240 240);
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}

.cut-short {
    width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
}

.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
}

.input:focus ~ .placeholder {
    color: #c76817;
}/*__________________________*/

/*ИСТОРИЯ ЗАКАЗОВ*/
.ordersList{
    margin: 20px 1% 20px 1%;
}
.orderList-items{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.orderList-item{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    height: 80px;
    border-bottom: 1px solid #44413b;
}
.order-item-icon{
    font-size: 3rem;
    color: #ebc686;
}
.order-item-info{
    font-size: 1.5rem;
}
.order-item-date{
    color: #ad9a8e;
}
.order-item-price{
    font-size: 1.8rem;
    color: rgb(228, 0, 43);
}
.green{
    color: green;
}
/*уведомления*/
.message {
    font-size: 14px;
    color: rgba(250, 0, 20, 0.78);
}

/*класс для неактивных ссылок*/
.readonly {
    color: rgba(102, 102, 102, 0.66) !important;
    cursor: auto;
}

/*Стиль для заголовков*/
.main-title{
    font-size: 3rem;
    font-weight: 900;
    line-height: 7.2rem;
}